@charset "UTF-8";
html,
body { height: 100%; } 
main { width: 100%; height: 100%; } 
#wrap { width: 100%; margin: 0 auto; min-height: 100%; position: relative; padding-bottom: 413px; } 
#wrap.no_layout { padding-bottom: 0px; background-color: var(--color-gray01); } 
.container { max-width: 1140px; margin: 0 auto; } 
/* #### Header #### */
header { position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: 101; background-color: #fff; border-bottom: 1px solid var(--color-gray02) !important; transition: 0.35s; } 
/* 띠 배너 */
.band-banner { width: 100%; height: auto; } 
.band-banner .banner { width: 100%; height: 50px; margin: 0 auto; display: flex; justify-content: center; align-items: center; position: relative; } 
.band-banner .banner .banner_box { width: 100%; height: 50px; max-width: 1140px; margin: 0 auto; display: flex; justify-content: center; align-items: center; position: relative; } 
.band-banner .banner .banner_box img { width: 100%; height: 100%; object-fit: contain; } 
.band-banner .banner .btn_close { display: inline-block; width: 12px; height: 12px; position: absolute; top: 50%; right: 0; transform: translateY(-50%); background: url(../img/common/banner_btn_close.svg) no-repeat center center / contain; } 
/* 헤더 컨텐츠 */
.header__inner { width: 100%; max-width: 1140px; height: inherit; margin: 0 auto; position: relative; } 
.hd__top,
.hd__bottom { display: flex; justify-content: space-between; align-items: center; padding: 16px 0; } 
.hd__top .hd-search { display: flex; align-items: center; gap: 16px; } 
.hd__top .hd-search .logo { display: inline-block; width: 178px; height: 30px; } 
.hd__top .hd-search .logo img { width: 100%; height: 100%; object-fit: contain; } 
.form_hd-search .search { display: flex; align-items: center; border-radius: 50px; background-color: var(--color-gray02); max-width: 321px; width: 100%; height: 40px; } 
.form_hd-search .search input { width: calc(100% - 40px); height: 100%; background-color: transparent; border: none; font-size: 14px; padding: 0 10px 0 16px; } 
.form_hd-search .search input::placeholder { color: var(--color-gray04); } 
.form_hd-search .search .btn_search { display: inline-block; width: 40px; height: 100%; background: url(../img/common/icon_search.svg) no-repeat center center / 20px 20px; } 
.hd-language .hd-navigation { display: flex; align-items: center; } 
.setting-lang { font-size: 14px; position: relative; } 
.setting-lang>.current { font-weight: 500; color: var(--color-gray05); cursor: default; } 
.setting-lang .btn_open,
.category .btn_open { display: inline-block; width: 14px; height: 14px; background: url(../img/common/icon_open.svg) no-repeat center center / contain; transition: 0.35s; cursor: pointer; } 
.setting-lang ul.lang_list { display: none; width: 102px; background-color: #fff; border-radius: 4px; border: 2px solid var(--color-main); position: absolute; top: calc(100% + 10px); left: 50%; transform: translateX(-50%); z-index: 1000; } 
.setting-lang ul.lang_list>li { height: 40px; line-height: 40px; padding-left: 14px; font-size: 14px; cursor: pointer; } 
.setting-lang ul.lang_list>li:hover { background-color: var(--color-soft-yellow); } 
.hd__bottom { padding-top: 4px; padding-bottom: 12px; } 
.hd_category_gnb { display: flex; gap: 32px; align-items: center; } 
.hd_category_gnb .category { display: flex; align-items: center; gap: 8px; } 
.category .category_icon { display: grid; width: 19px; grid-template-columns: repeat(3, 1fr); gap: 2px; } 
.category .category_icon span { display: inline-block; width: 5px; height: 5px; background-color: var(--color-gray04); transition: 0.35s; } 
.category .category_icon.active span:nth-child(3) { animation: categoryActive linear 0.3s 0s; animation-fill-mode: forwards; } 
.category .category_icon.active span:nth-child(2) { animation: categoryActive linear 0.3s 0.1s; animation-fill-mode: forwards; } 
.category .category_icon.active span:nth-child(1) { animation: categoryActive linear 0.3s 0.2s; animation-fill-mode: forwards; } 
.category .category_icon.active span:nth-child(4) { animation: categoryActive linear 0.3s 0.3s; animation-fill-mode: forwards; } 
.category .category_icon.active span:nth-child(7) { animation: categoryActive linear 0.3s 0.4s; animation-fill-mode: forwards; } 
.category .category_icon.active span:nth-child(8) { animation: categoryActive linear 0.3s 0.5s; animation-fill-mode: forwards; } 
.category .category_icon.active span:nth-child(9) { animation: categoryActive linear 0.3s 0.6s; animation-fill-mode: forwards; } 
.category .category_icon.active~.btn_open { background: url(../img/common/icon_open_active.svg) no-repeat center center / contain; } 
.hd_category_gnb .category>p { cursor: pointer; font-weight: 500; margin-left: 3px; } 
.hd_category_gnb nav#gnb ul { display: flex; align-items: center; gap: 24px; } 
.hd_category_gnb nav#gnb ul li { position: relative; transition: 0.2s; } 
.hd_category_gnb nav#gnb ul li:after { content: ''; display: inline-block; width: 130%; height: 2px; background-color: var(--color-main); position: absolute; bottom: -23px; left: 50%; transform: translateX(-50%); opacity: 0; transition: 0.25s; } 
.hd_category_gnb nav#gnb ul li:hover:after { opacity: 1; } 
.hd_category_gnb nav#gnb ul li:hover {color: var(--color-main);}
.hd_category_gnb nav#gnb ul li a { font-weight: 500; } 
.hd_login { display: flex; align-items: center; gap: 16px; } 
.hd_login .btn_login,
.hd_login .btn_logout { font-weight: 500; color: var(--color-gray05); } 
.hd_login .btn_signup { border-radius: 50px; } 
.hd_login .btn_signup:hover { background-color: #fff; color: var(--color-main); border: 1px solid var(--color-main); } 
.hd_mypage { position: relative; } 
.hd_mypage .btn_mypage { width: 128px; padding-right: 20px; line-height: 33px; position: relative; font-weight: 600; } 
.hd_mypage .btn_mypage:after { content: ''; display: inline-block; width: 14px; height: 14px; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); background: url(../img/common/icon_open_white.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list { display: none; position: absolute; top: calc(100% + 5px); left: 50%; transform: translateX(-50%); width: 128px; height: auto; border-radius: 4px; border: 2px solid var(--color-main); background-color: #fff; z-index: 1000; } 
.hd_mypage .mypage_list li { width: 100%; height: 38px; font-size: 14px; line-height: 38px; color: var(--color-gray05); position: relative; } 
.hd_mypage .mypage_list li a:hover { background-color: var(--color-soft-yellow); } 
.hd_mypage .mypage_list li a { display: inline-block; width: 100%; height: 100%; padding-left: 36px; } 
.hd_mypage .mypage_list li a:before { content: ''; display: inline-block; position: absolute; top: 50%; left: 12px; transform: translateY(-50%); } 
.hd_mypage .mypage_list li a.my_noti:before { width: 14px; height: 16px; background: url(../img/common/icon_mypage1.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_noti:hover:before { background: url(../img/common/icon_mypage1_on.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_like:before { width: 16px; height: 16px; background: url(../img/common/icon_mypage2.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_like:hover:before { background: url(../img/common/icon_mypage2_on.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_portfolio:before { width: 16px; height: 16px; background: url(../img/common/icon_mypage3.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_portfolio:hover:before { background: url(../img/common/icon_mypage3_on.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_payment:before { width: 16px; height: 14px; background: url(../img/common/icon_mypage4.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_payment:hover:before { background: url(../img/common/icon_mypage4_on.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_aplc:before { width: 16px; height: 16px; background: url(../img/common/icon_mypage5.svg) no-repeat center center / contain; } 
.hd_mypage .mypage_list li a.my_aplc:hover:before { background: url(../img/common/icon_mypage5_on.svg) no-repeat center center / contain; } 
/* 카테고리 오픈 애니메이션 */
@keyframes categoryActive { 
  0% { background-color: var(--color-gray04); } 
  100% { background-color: var(--color-main-over); } 
}
/* 헤더 전체 카테고리 */
#hd_category { display: none; position: absolute; top: 100%; width: 100%; height: auto; border-top: 1px solid var(--color-gray05); box-shadow: 0 4px 4px #00000012; background-color: #fff; } 
.category__inner { max-width: 1140px; width: 100%; min-height: 360px; margin: 0 auto; display: flex; } 
.category__inner ul.category { width: 172px; min-height: inherit; border-right: 1px solid #D9D9D9; background-color: #fff; } 
.category__inner .category:first-child { border-left: 1px solid #D9D9D9; } 
.category__inner ul.category li { width: 100%; height: 42px; line-height: 42px; padding: 0 20px; background-color: #fff; position: relative; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; } 
.category__inner ul.category li:hover,
.category__inner ul.category li.active { background-color: var(--color-soft-yellow); } 
.category__inner ul.category li.active:after { content: ''; display: inline-block; width: 6px; height: 12px; position: absolute; top: 50%; right: 12px; transform: translateY(-50%); background: url(../img/common/icon_category_next.svg) no-repeat center center / contain; } 

/* #### Footer #### */
footer { width: 100%; position: absolute; left: 0; bottom: -413px; height: 413px; transform: translateY(-100%); background-color: #fff; border-top: 1px solid #D9D9D9 !important; } 
.footer__inner { max-width: 1140px; width: 100%; height: 100%; margin: 0 auto; display: flex; } 
.ft__cmpny-info { flex: 2; padding-top: 30px; padding-bottom: 58px; } 
.ft__cmpny-info .logo { margin-bottom: 31px; } 
.btn_consult { display: inline-block; width: 178px; height: 52px; border-radius: 8px; background-color: #fff; padding: 0 24px; border: 1px solid var(--color-gray02); } 
.btn_consult span { font-size: 14px; font-weight: 500; padding-left: 45px; position: relative; } 
.btn_consult span:before { content: ''; display: inline-block; width: 34px; height: 34px; position: absolute; top: 50%; transform: translateY(-50%); left: 0px; background: url(../img/common/icon_consult.svg) no-repeat center center / contain; } 
.ft__cmpny-info .company-info { margin-top: 24px; font-size: 13px; font-weight: 300; color: #707070; line-height: 18px; } 
.ft__cmpny-info .company-info em { font-weight: 400; } 
.ft__cmpny-info .tel { margin-top: 24px; font-size: 13px; font-weight: 300; color: #707070; line-height: 18px; } 
.ft__cmpny-info p.copyright { font-size: 10px; font-weight: 300; margin-top: 26px; } 
.ft__menu { flex : 1.5; padding-top: 30px; padding-bottom: 58px; padding-left: 53px; border-left: 1px solid #D9D9D9; } 
.ft__menu .ft__gnb { display: flex; gap: 30px; position: relative; font-size: 12px; } 
.ft__menu .ft__gnb dl.menu dt { margin-bottom: 32px; font-weight: 500; } 
.ft__menu .ft__gnb dl.menu dd { margin-bottom: 24px; color: #707070; } 
.ft__menu .ft__gnb dl.menu dd:last-child { margin-bottom: 0px; } 
.ft__menu .ft__gnb .setting-lang { position: absolute; right: 0; top: 0; } 
.ft__menu .ft__sns { margin-top: 60px; } 
.ft__menu .ft__sns ul { display: flex; gap: 12px; align-items: center; justify-content: flex-end; } 
.ft__menu .ft__sns ul li { display: inline-block; width: 32px; height: 32px; } 
.ft__menu .ft__sns ul li>a { display: inline-block; width: 100%; height: 100%; } 
.ft__menu .ft__sns ul li>a.sns_blog { background: url(../img/common/icon_blog.svg) no-repeat center center / contain; } 
.ft__menu .ft__sns ul li>a.sns_facebook { background: url(../img/common/icon_facebook.svg) no-repeat center center / contain; } 
.ft__menu .ft__sns ul li>a.sns_insta { background: url(../img/common/icon_insta.svg) no-repeat center center / contain; } 
.ft__menu .terms-use { display: flex; gap: 8px; align-items: center; justify-content: flex-end; margin-top: 24px; } 
.ft__menu .terms-use>* { display: inline-block; width: 111px; height: 40px; line-height: 40px; background-color: #fff; border: 1px solid var(--color-gray02); border-radius: 8px; text-align: center; font-size: 12px; font-weight: 500; color: #707070; } 

/* 상담 플로트 메뉴 */
.float_consult {
  position: fixed;
  right: 33px;
  bottom: 70px;
}

.float_consult .btn_consult {
  border: none;
  display: inline-block;
  width: 56px;
  height: 56px;
  background: url(../img/common/btn_consult.png) no-repeat center center / contain;
  z-index: 1000;
}